name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]  # main 브랜치에 푸시될 때 실행

# GitHub Pages 배포를 위한 권한 설정
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1. Secret 값을 index.html에 적용
      - name: Replace Secret
        run: |
          sed -i "s/{GROOM_NAME}/${{ secrets.GROOM_NAME }}/g" app.py
          sed -i "s/{BRIDE_NAME}/${{ secrets.BRIDE_NAME }}/g" app.py
          sed -i "s/{GROOM_GIVEN_NAME}/${{ secrets.GROOM_GIVEN_NAME }}/g" app.py
          sed -i "s/{BRIDE_GIVEN_NAME}/${{ secrets.BRIDE_GIVEN_NAME }}/g" app.py
          sed -i "s/{GROOM_ACCOUNT}/${{ secrets.GROOM_ACCOUNT }}/g" app.py
          sed -i "s/{GROOM_ACCOUNT_BANK}/${{ secrets.GROOM_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{GROOM_PHONE}/${{ secrets.GROOM_PHONE }}/g" app.py
          sed -i "s/{BRIDE_ACCOUNT}/${{ secrets.BRIDE_ACCOUNT }}/g" app.py
          sed -i "s/{BRIDE_ACCOUNT_BANK}/${{ secrets.BRIDE_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{BRIDGE_PHONE}/${{ secrets.BRIDGE_PHONE }}/g" app.py
          sed -i "s/{GROOM_PARENT_ACCOUNT_BANK}/${{ secrets.GROOM_PARENT_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{GROOM_PARENT_ACCOUNT_NAME}/${{ secrets.GROOM_PARENT_ACCOUNT_NAME }}/g" app.py
          sed -i "s/{GROOM_PARENT_ACCOUNT}/${{ secrets.GROOM_PARENT_ACCOUNT }}/g" app.py
          sed -i "s/{BRIDE_PARENT_ACCOUNT_BANK}/${{ secrets.BRIDE_PARENT_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{BRIDE_PARENT_ACCOUNT_NAME}/${{ secrets.BRIDE_PARENT_ACCOUNT_NAME }}/g" app.py
          sed -i "s/{BRIDE_PARENT_ACCOUNT}/${{ secrets.BRIDE_PARENT_ACCOUNT }}/g" app.py


      # 2. 수정된 파일을 배포용 데이터(Artifact)로 업로드
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'  # 현재 폴더 전체를 업로드

      # 3. GitHub Pages 서버로 실제 배포 실행
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4