name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]  # main 브랜치에 푸시될 때 실행

# GitHub Pages 배포를 위한 권한 설정
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install flask Frozen-Flask

      - name: Replace Secret
        run: |
          sed -i "s/{KAKAO_MAP_API_KEY}/${{ secrets.KAKAO_MAP_API_KEY }}/g" app.py
          sed -i "s/{GROOM_NAME}/${{ secrets.GROOM_NAME }}/g" app.py
          sed -i "s/{BRIDE_NAME}/${{ secrets.BRIDE_NAME }}/g" app.py
          sed -i "s/{GROOM_GIVEN_NAME}/${{ secrets.GROOM_GIVEN_NAME }}/g" app.py
          sed -i "s/{BRIDE_GIVEN_NAME}/${{ secrets.BRIDE_GIVEN_NAME }}/g" app.py
          sed -i "s/{GROOM_ACCOUNT}/${{ secrets.GROOM_ACCOUNT }}/g" app.py
          sed -i "s/{GROOM_ACCOUNT_BANK}/${{ secrets.GROOM_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{GROOM_PHONE}/${{ secrets.GROOM_PHONE }}/g" app.py
          sed -i "s/{BRIDE_ACCOUNT}/${{ secrets.BRIDE_ACCOUNT }}/g" app.py
          sed -i "s/{BRIDE_ACCOUNT_BANK}/${{ secrets.BRIDE_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{BRIDGE_PHONE}/${{ secrets.BRIDGE_PHONE }}/g" app.py
          sed -i "s/{GROOM_FATHER_NAME}/${{ secrets.GROOM_FATHER_NAME }}/g" app.py
          sed -i "s/{GROOM_FATHER_ACCOUNT_BANK}/${{ secrets.GROOM_FATHER_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{GROOM_FATHER_ACCOUNT}/${{ secrets.GROOM_FATHER_ACCOUNT }}/g" app.py
          sed -i "s/{GROOM_MOTHER_NAME}/${{ secrets.GROOM_MOTHER_NAME }}/g" app.py
          sed -i "s/{GROOM_MOTHER_ACCOUNT_BANK}/${{ secrets.GROOM_MOTHER_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{GROOM_MOTHER_ACCOUNT}/${{ secrets.GROOM_MOTHER_ACCOUNT }}/g" app.py
          sed -i "s/{BRIDE_FATHER_NAME}/${{ secrets.BRIDE_FATHER_NAME }}/g" app.py
          sed -i "s/{BRIDE_FATHER_ACCOUNT_BANK}/${{ secrets.BRIDE_FATHER_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{BRIDE_FATHER_ACCOUNT}/${{ secrets.BRIDE_FATHER_ACCOUNT }}/g" app.py
          sed -i "s/{BRIDE_MOTHER_NAME}/${{ secrets.BRIDE_MOTHER_NAME }}/g" app.py
          sed -i "s/{BRIDE_MOTHER_ACCOUNT_BANK}/${{ secrets.BRIDE_MOTHER_ACCOUNT_BANK }}/g" app.py
          sed -i "s/{BRIDE_MOTHER_ACCOUNT}/${{ secrets.BRIDE_MOTHER_ACCOUNT }}/g" app.py

      - name: Freeze Flask App
        run: python freeze.py

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './build'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4